<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Terrascan - </title>
    <style>

        body {
            background-color: #232323;
            color: #ffffff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* ... */
    </style>
</head>
<body>
<div class="container">
    <h1 class="title">Terrascan </h1>

    <div class="section upload-container">
        <form action="/upload" method="POST">
            <label class="upload-label">Cliquez ici pour sélectionner une image</label>
            <input type="file" id="image-upload" class="upload-input" name="image">
            <input type="submit" value="Uploader">
        </form>

    </div>
</div>
</body>
</html>
